.navbar{
  background: black;
  color:white;
  padding:10px 0 40px 0;
}

.navbar button {
  float:right;
  margin: 20px;
}
.sign-in-form{
  clear:both;
}
input{
  width: 100%;
  padding:20px;
}

sign-up-modal{
  border: 2px solid white;
}
h1{
  color:white;
}
